/*my css starts*/
/*fonts*/
@font-face { 
  font-family: roboto-Light; src: url('fonts/roboto/Roboto-Light.ttf'); 
} 
@font-face { 
  font-family: roboto-Bold; src: url('fonts/roboto/Roboto-Bold.ttf');
} 
@font-face { 
  font-family: roboto-Thin; src: url('fonts/roboto/Roboto-Thin.ttf');
} 
@font-face { 
  font-family: roboto-Medium; src: url('fonts/roboto/Roboto-Medium.ttf');
} 
@font-face { 
  font-family: roboto-Regular; src: url('fonts/roboto/Roboto-Regular.ttf');
} 
body,html {
  padding: 0px !important;
  margin:0px !important;
  height: 100% !important;
  width: 100% !important;
  font-family: roboto-Regular;
}
a{
  text-decoration: none !important;
  outline: none !important;
}
/*main common*/

.mainContainer{
  height: 100% !important;
  width: 100% !important;
  margin:0px !important;
  padding:0px !important;
  background-repeat: no-repeat;
  background-size: cover; 
}

    /*header starts*/
    .headerParentContainer{
      position: absolute;
      top: 0px;
      width: 100%;
      height: inherit;
      overflow: scroll;
    }
    .headerContainer{
      margin: 0px !important;
      padding: 0px !important;
      text-align: center;
      position: relative;
    }
    .hearderRow{
      padding: 0px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    .headerFullHeight{
      height: 100%;
      background:#393939;
      opacity: 1;
      z-index: 1000;
      overflow: scroll;
    }
    .headerColumn{
      height: 100%;
      padding: 50px;
      margin: 0px !important;
      cursor: pointer;
    }
    .headerColumnActive{
      border-bottom: 1px solid white;
    }
    .headerColumn p{
      color:#A2A2A2;
      font-size: 1.2em;
      font-family: roboto-Bold;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    .menuIcon{
      height: 40px;
      width:40px;
      background-image: url('images/menuIcon.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      right:20px;
      z-index: 2000;
      top:20px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    .menuIconClose{
      height: 30px;
      width:30px;
      z-index: 2000;
      background-image: url('images/cross.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right:20px;
      top:20px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    .manasLogo{
      height: 23px;
      width:100px;
      background-image: url('images/manasLogo.png');
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left:30px;
      top:45px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    /*header ends*/

    /*footer starts*/
    .footerParentContainer{
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 60px;
      text-align: center;
      overflow: hidden;
    }
    .footerBg{
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: 60px;
      background: white;
      opacity: .16;
    }
    .footerLinkContainer{
      width: 200px;
      height: 60px;
      text-align: center;
      display: inline-block;
    }
    .linkLogo{
      background-repeat: no-repeat;
      background-size: cover;
      opacity: .4;
      height: 30px;
      width: 30px;
      margin-top: 17px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
    }
    .facebookLink{
      background-image: url('images/fbLogo.png');
    }
    .githubLink{
      background-image: url('images/githubLogo.png');
    }
    .linkedinLink{
      background-image: url('images/linkedInLogo.png');
    }
    .linkLogo:hover{
      opacity: .8;
      height: 35px;
      width: 35px;
      margin-top: 12px;
    }
    /*footer ends*/
 
/*main common ends*/

/*home page*/
  .homeContainer{
    background-image: url('images/homeBg.png');
  }
  .homePageTextContainer{
    padding: 15px;
    padding-right: 350px;
    padding-left: 350px;
    text-align: center;
    padding-top: 22%;
    -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
  }
  .autoType1{
    font-family: roboto-Light;
    font-size: 2em;
    color: white;
    -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
  }
  .autoType2{
    font-family: roboto-Light;
    font-size: 1.7em;
    color: white;
    -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;
  }
/*home page ends*/

/*work page*/
.workContainer{
  background-image: url('images/workBg.png');
}
.workCatagoryRow{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20%;
  text-align: center;
  vertical-align: center;
  -webkit-transition: all ease-out .4s;
  -moz-transition: all ease-out .4s;
  -o-transition: all ease-out .4s;
  transition: all ease-out .4s;
}
.workCatagoryContainer{
  padding: 0px;
  text-align: center !important;
}
.workCatagoryHover{
  text-align: center;
  display: inline-block;
  height: 300px;
  width: 300px;
}
.workCatagory{
  cursor: pointer;
  background-size: 100% 100%;
  height: inherit;
  text-align: center;
  position: relative;
  -webkit-transition: all ease-out .4s;
  -moz-transition: all ease-out .4s;
  -o-transition: all ease-out .4s;
  transition: all ease-out .4s;

}
.workCatagoryOpacityBg{
  background-image:url('images/workCatagoryOpacityBg.png');
  background-size: 100% 100%;
  height: inherit;
  width: 100%;
  opacity: .4;
  position: absolute;
  top:0px;
  -webkit-transition: all ease-out .4s;
  -moz-transition: all ease-out .4s;
  -o-transition: all ease-out .4s;
  transition: all ease-out .4s;

}
  .workCatagoryText{
    font-family: roboto-Bold;
    padding-top: 140px;
    color: black;
    font-size: 1.4em;
    -webkit-transition: all ease-out .2s;
    -moz-transition: all ease-out .2s;
    -o-transition: all ease-out .2s;
    transition: all ease-out .2s;

  }
.workCatagoryHover:hover .workCatagoryOpacityBg{
  opacity: 0;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
.workCatagoryHover:hover .workCatagoryText{
  opacity: 0;
  -moz-transform: scale(1.4);
  -webkit-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
}
.workCatagoryHover:hover .workCatagory{
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);

}
/*work page ends*/

/*about me*/
/*about me ends*/
/*comingsoon*/
.loadingContainer{
  width: 100% !important;
  height: 100vh;
  background: white;
}
.loadingGif{
  background-position: center;
  background-image: url('images/loading.gif');
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: auto;
  margin-top: 20vh;
}
.comingSoonTextContainer{
  height: auto;
  width: 100%;
  text-align: center;
}
.comingSoonText{
  font-family: roboto-Light;
}
/*my css ends*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}



/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
/*medium desktop*/
@media screen and (min-width: 992px) and (max-width: 1204px) {
  /*home page*/
    .homePageTextContainer{
      padding-right: 150px;
      padding-left: 150px;
      padding-top: 25%;
    }
  /*home page ends*/

  /*work page*/
    .workCatagoryHover{
      height: 230px;
      width: 230px;
    }
    .workCatagoryText{
      padding-top: 110px;
      font-size: 1.4em;
    }
    .workCatagoryRow{
      margin-top: 30%;
    }
    /*work page ends*/

}
/*tablet media*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  /*main common*/
    /*header*/
    /*header ends*/
  /*main common ends*/
  /*home page*/
  .homePageTextContainer{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 25%;
  }
  .autoType1{
    font-size: 1.8em;
  }
  .autoType2{
    font-size: 1.5em;
  }
  /*home page ends*/

  /*work paage*/
    .workCatagoryHover{
      height: 300px;
      width: 300px;
    }
    .workCatagoryText{
      padding-top: 140px;
      font-size: 1.4em;
    }
    .workCatagoryContainer{
      padding: 0px;
    }
  /*work page ends*/
}
/*tablet media ipad*/
@media screen and (min-width: 767px) and (max-width: 768px){
  .homeContainer{
    background-image: url('images/homeBgMobile.png');
    background-repeat: no-repeat;
    background-size: cover; 
  }
}
/*mobile media*/
@media screen and (max-width: 767px) {
      /* Portrait */
    @media screen and (orientation:portrait) {
       /* Portrait styles here */
    }
    /* Landscape */
    @media screen and (orientation:landscape) {
       /* Landscape styles here */
       .homePageTextContainer{
          padding-top: 19% !important;
       }
       .headerColumn{
        padding:25px !important;
       }
      /* .homeContainer{
        background-image: url('images/noLandscapeMobile.png') !important;
       }
       .headerParentContainer{
          display: none;
       }
       
       .footerParentContainer{
          display: none;
       }*/
    }

  /*main common*/
    /*header*/
    
    /*header ends*/
  /*main common ends*/
  /*home page*/
  .homeContainer{
    background-image: url('images/homeBgMobile.png');
    background-repeat: no-repeat;
    background-size: cover; 
  }
  .homePageTextContainer{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 55%;
  }
  .autoType1{
    font-size: 1.4em;
  }
  .autoType2{
    font-size: 1.1em;
  }
  .manasLogo{
      height: 23px;
      width:100px;
      left:20px;
      top:35px;
    }
  /*home page ends*/
  /*work page*/
    .workCatagoryRow{
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 30%;
    }
    .workCatagoryContainer{
      padding: 0px;
      text-align: center !important;
    }
    .workCatagoryHover{
      text-align: center;
      display: inline-block;
      height: 150px;
      width: 150px;
    }
    .workCatagory{
      cursor: pointer;
      background-size: 100% 100%;
      height: inherit;
      text-align: center;
      position: relative;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;

    }
    .workCatagoryOpacityBg{
      background-image:url('images/workCatagoryOpacityBg.png');
      background-size: 100% 100%;
      height: inherit;
      display: none;
      opacity: .4;
      position: absolute;
      top:0px;
      -webkit-transition: all ease-out .4s;
      -moz-transition: all ease-out .4s;
      -o-transition: all ease-out .4s;
      transition: all ease-out .4s;

    }
      .workCatagoryText{
        font-family: roboto-Bold;
        padding-top: 140px;
        color: white;
        font-size: .8em;
        -webkit-transition: all ease-out .4s;
        -moz-transition: all ease-out .4s;
        -o-transition: all ease-out .4s;
        transition: all ease-out .4s;

      }
  /*work page ends*/
}