<div class="footerContainer">
	<div class="footerBg"></div>
	<div class="footerLinkContainer row">
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<a href="https://www.facebook.com/manas.singh.7" target="_blank">
				<div class="linkLogo facebookLink"></div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<a href="https://github.com/manassingh" target="_blank">
				<div class="linkLogo githubLink"></div>
			</a>
		</div>
		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
			<a href="https://www.linkedin.com/in/manas-singh-43647546?trk=nav_responsive_tab_profile_pic" target="_blank">
				<div class="linkLogo linkedinLink"></div>
			</a>
		</div>
	</div>
</div>
